<div class="black-background">
    <h2 class="title">Inspiration</h2>
    <p class="a_description">This project was made to show off capabilities of Ruby On Rails and because we are fans of a hit show The Boys!</p>
    
    <h2 class="title">Source</h2>
    <p class="a_description"> The whole source code can be found at <a href="https://github.com/LaZlat/TheBoys">GitHub</a>.</p>

    <h2 class="title">Versions</h2>
    <p class="a_description">
        <ul>
            <li>Ruby 2.7.2</li>
            <li>Rails 6.0.3.4</li>
        </ul>
    </p>
    
    <h2 class="title">The Crew</h2>

    <div class="content-wrapper flex-center">

        <div class="character-wrapper flex-center">
            <div class="character-item flex-center">
                <img src="assets/creators/lauris.jpg" alt="Laurynas">
                <div class="character-name-container flex-center">
                    <p>Laurynas Zlatkus</p>
                </div>
            </div>
            <div class="character-item flex-center">
                <p class="description algn_center">The Brain Behind The Operation</p>
            </div>
        </div>

        <div class="character-wrapper flex-center">
            <div class="character-item flex-center">
                <img src="assets/creators/rytis.jpg" alt="Rytis">
                <div class="character-name-container flex-center">
                    <p>Rytis Razmus</p>
                </div>
            </div>
            <div class="character-item flex-center">
                <p class="description">Ruby On Rails Expert</p>
            </div>
        </div>

        <div class="character-wrapper flex-center">
            <div class="character-item flex-center">
                <img src="assets/creators/jonas.jpg" alt="Jonas">
                <div class="character-name-container flex-center">
                    <p>Jonas Žemaitis</p>
                </div>
            </div>
            <div class="character-item flex-center">
                <p class="description">The Procastinator</p>
            </div>
        </div>
        
    </div>
</div>