body {
    background: #242424;
}

.black-background {
    background: var(--dark-color);
    margin: 1%;
    padding-bottom: 1%;
}

.title {
    margin: 0 1%;
    padding: 1rem 0;
    color: white;
    // text-decoration: underline;
    font-weight: bold;
}

.flex-center {
    display: flex;
}

.content-wrapper {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    padding: 0;
    justify-content: space-evenly;
}

.character-wrapper {
    width: 32%;
    margin: 0.5%;
    flex-direction: column;
}

.character-name-container {
    background: rgba(255, 255, 255, 0.8);
    // background: #e6e4e2;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}

.character-name-container p {
    margin: 0 auto;
    font-weight: bold;
}

.character-item {
    background: white;
    flex: 1;
    position: relative;
}

.character-item .description {
    flex: 1;
    font-weight: bold;
    padding: 5%;
    display: flex;
    align-items: center;
    text-align: center;

}

.character-item img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
}