<!DOCTYPE html>
<html>

<head>
  <title>The Boys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', 'heroname', 'index', 'vought', 'characters', 'about', 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  
  <%= yield %>

  <!-- Footer -->
  <footer class="py-5 bg-dark" style="height: 100px">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Mr. Robot 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>